-#  This file is app/views/movies/index.html.haml
%h1= link_to "All Movies" , movies_path


= form_tag movies_path, :method => :get do
  Include: 
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]","yes",@ratings.include?(rating), :id=>"ratings_#{rating}" 
  = submit_tag 'Refresh', :id=>"ratings_submit"

%table#movies
  %thead
    %tr                              
      %th{(session[:sort_by] == "title") ? {:class=>"hilite"}: {}}= link_to "Movie Title", movies_path(:sort_by=>"title"), :id=>"title_header" 
      
      %th Rating
      %th{(session[:sort_by] == "release_date") ? {:class=>"hilite"}: {}}= link_to "Release Date", movies_path(:sort_by=>"release_date"), :id=>"release_date_header"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

